<div class="panel-body">
  <form data-form-key="${formKey}" data-instance-id="${id}" id="${formName}" name="${formName}" role="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label"># Residents in domicile</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-residents" type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Type of job</label> <input class="form-control input-sm input-field" id="${formPrefix}-job-type" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Mother</label>
        <div class="form-group">
          <label class="radio-inline"><input name="${formPrefix}-mother-alive" type="radio" class="input-checkbox"  value="false">Dead</label> <label class="radio-inline"><input name="${formPrefix}-mother-alive" type="radio" class="input-checkbox"  value="true">Alive</label>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label class="control-label">Reason</label> <input class="form-control input-sm input-field" id="${formPrefix}-mother-death-reason" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Father</label>
        <div class="form-group">
          <label class="radio-inline"><input name="${formPrefix}-father-alive" type="radio" class="input-checkbox"  value="false">Dead</label> <label class="radio-inline"><input name="${formPrefix}-father-alive" type="radio" class="input-checkbox"  value="true">Alive</label>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label class="control-label">Reason</label> <input class="form-control input-sm input-field" id="${formPrefix}-father-death-reason" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Partner</label>
        <div class="form-group">
          <label class="radio-inline"><input name="${formPrefix}-partner-alive" type="radio" class="input-checkbox"  value="false">Dead</label> <label class="radio-inline"><input name="${formPrefix}-partner-alive" type="radio" class="input-checkbox"  value="true">Alive</label>
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <label class="control-label">Reason</label> <input class="form-control input-sm input-field" id="${formPrefix}-partner-death-reason" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Total Siblings</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-siblings" type="text">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Brothers</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-brothers" type="text">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Sisters</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-sisters" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Total Children</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-children" type="text">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Sons</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-sons" type="text">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">#Daughters</label> <input class="form-control input-sm input-field" id="${formPrefix}-num-daughters" type="text">
        </div>
      </div>
    </div>
  </form>
</div>