<div class="panel panel-default">
  <div class="panel-body">
    <form data-form-key="${formKey}" data-instance-id="${id}" id="${formName}" name="${formName}" role="form">
      <label class="sub-title">LABS</label>
      <div class="form-group">
        <label class="control-label">Hb</label> <input class="form-control input-sm input-field" id="${formPrefix}-hb" type="text">
      </div>
      <div class="form-group">
        <label class="control-label">Glucose</label> <input class="form-control input-sm input-field" id="${formPrefix}-glucose" type="text">
      </div>
      <div class="form-group">
        <label class="control-label">Urine DIP (+)</label> <input class="form-control input-sm input-field" id="${formPrefix}-urine-dip" type="text">
      </div>
    </form>
  </div>
</div>