<div class="panel-body">
  <form data-form-key="${formKey}" data-instance-id="${id}" id="${formName}" name="${formName}" role="form">
    <div class="row">
      <div class="col-md-6">
        <label class="sub-title">Subjective</label>
        <div class="form-group">
          <textarea class="form-control input-sm input-field" id="${formPrefix}-subjective" rows="5"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <label class="sub-title">Objective</label>
        <div class="form-group">
          <textarea class="form-control input-sm input-field" id="${formPrefix}-objective" rows="5"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="sub-title">Assessment</label>
        <div class="form-group">
          <textarea class="form-control input-sm input-field" id="${formPrefix}-assessment" rows="5"></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <label class="sub-title">Plan</label>
        <div class="form-group">
          <textarea class="form-control input-sm input-field" id="${formPrefix}-plan" rows="5"></textarea>
        </div>
      </div>
    </div>
  </form>
</div>