<div class="panel-body">
  <form data-form-key="${formKey}" data-instance-id="${id}" id="${formName}" name="${formName}" role="form">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Height (cm)</label> <input class="form-control input-sm input-field" id="${formPrefix}-height" type="text">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Weight (kg)</label> <input class="form-control input-sm input-field" id="${formPrefix}-weight" type="text">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label class="control-label">SYS</label> <input class="form-control input-sm input-field" id="${formPrefix}-systolic" type="text">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label class="control-label">DIA</label> <input class="form-control input-sm input-field" id="${formPrefix}-diastolic" type="text">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label class="control-label">HR</label> <input class="form-control input-sm input-field" id="${formPrefix}-pulse" type="text">
        </div>
      </div>
      <div class="col-md-1">
        <div class="form-group">
          <label class="control-label">RR</label> <input class="form-control input-sm input-field" id="${formPrefix}-respiration" type="text">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Temp (C)</label> <input class="form-control input-sm input-field" id="${formPrefix}-temperature" type="text">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group"></div>
      </div>
    </div>
  </form>
</div>