    <div id="forms-subscreen-${i}" class="container forms-subscreen initially-no-display">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading hidden-xs">Client Rights and the Grievance Procedure</div>
            <div class="panel-heading panel-heading-sm visible-xs">Client Rights and the Grievance Procedure</div>
            <div class="panel-body">
              <form id="client-rights-form" role="form" data-instance-id="" data-form-key="">
                <div class="col-sm-12">
                  <div class="col-sm-10 col-sm-offset-1">
                    <h4>Personal Rights</h4>
                    <ul>
                      <li>You must be treated with dignity and respect, free from any verbal, physical, emotional or sexual abuse.</li>
                      <li>You may not be treated unfairly because of your race, national origin, sex, age, religion, disability or sexual orientation. </li>
                      <li>You may not be filmed, taped or photographed unless you agree to it. </li>
                      <li> You have the right to request information regarding the professional education and experience of the treating clinician. </li>
                      <li> You have the right to have all treatments explained to you/your child in a language and manner that is appropriate. </li>
                    </ul>
                    <br>
                    <h4>Treatment Rights</h4>
                    <ul>
                      <li>You must be allowed to participate in the planning of your treatment and care. </li>
                      <li>You understand that if you are enrolled in the EDT Program, family treatment may be indicated.</li>
                      <li>No treatment may be given to you without written, informed consent, <b>unless</b> it is needed 
                      <b>in an emergency</b> to prevent serious physical harm to you or other, or a <b>court orders it</b>. 
                      [If you have a guardian, however, your guardian may consent to treatment and medications on your behalf.] 
                      </li>
                    </ul>
                    <br>
                    <h4>Record Privacy And Access</h4>
                    <ul>
                      <li>Your treatment information must be kept private(confidential) unless the law permits disclosure.</li>
                      <li>Your records may not be released without your consent, unless the law specifically allows for it.</li>
                      <li>You may ask to see your records. You must be shown any records about your physical health or medications.</li>
                      <li>All sessions with GPS clinicians are confidential. Information shared in session will only be discussed with 
                      those with whom client has signed a release. If a client has chosen to invite other 
                      individual(s) into their session it is assumed that confidentiality is waived for individual(s) present.
                      </li> 
                      <li>Confidentiality is only required to be broken if in any of the following circumstances arise:
                        <ul>
                          <li>There is a clear and imminent danger of harm to yourself and/or others. GPS is required to report this information 
                          to the authorities responsible for ensuring your safety and the safety of others, family members, or potential targets of violence. 
                          </li>
                          <li>
                          GPS learns of, or strongly suspects, physical or sexual abuse or neglect of a child, elder or disabled person. GPS is required to 
                          report this information to the appropriate state agency.
                          </li>
                          <li>
                          A judge issues a court order requiring GPS to release information contained in your records and/or requires GPS to 
                          testify in a court hearing.
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-10 col-sm-offset-1">
                <hr>
                <p>
I acknowledge that I have received a copy of the Clients rights and the Grievance Procedure document.    
I understand that if I have any concerns about my care and/or treatment that I may speak to my direct care worker 
at any time. I also have the option to speak with the Program Supervisor.  If I am unable to resolve my concern, I 
am aware that I may file a formal grievance with the Program Director, Marcy Taliceo at 860-698-6077.  A grievance 
form will be available upon your request to any staff member.

                </p>
                <p>
I acknowledge that I have received in writing office hours, emergency phone numbers in case of a crisis, listing of 
local emergency room, a fee schedule and grievance procedures in the Clinic Information Packet. 
                </p>
                </div>
                </div>
                <br>
               <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>* Client Name</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-client-name" data-property="gp-entity-form-ClientRights.clientName" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>* Date of Birth</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-dob" data-property="gp-entity-form-ClientRights.dob" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>Parent or Guardian Name</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-guardian" data-property="gp-entity-form-ClientRights.guardian" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>* Date</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-signed-date" data-property="gp-entity-form-ClientRights.signedDate" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>Relationship to Client</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-guardian-rel" data-property="gp-entity-form-ClientRights.guardianRel" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>* Clinician Name</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-clinician-sig" data-property="gp-entity-form-ClientRights.clinicianSig" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>* Date</label>
                      <input type="text" class="form-control input-field input-sm" id="cr-clinician-sig-date" data-property="gp-entity-form-ClientRights.clinicianSigDate" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-10 col-sm-offset-1">
                    <input type="checkbox" id="cr-child" class="input-checkbox" value="true" data-property="gp-entity-form-ClientRights.child">
                    <b>Policy explained to child. Child unable or unwilling to sign.</b>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>