    <div id="forms-subscreen-${i}" class="container forms-subscreen initially-no-display">
        <div class="col-sm-12">
          <div class="panel panel-primary">
            <div class="panel-heading hidden-xs">Consent To Treat</div>
            <div class="panel-heading panel-heading-sm visible-xs">Consent To Treat</div>
            <div class="panel-body">
              <form id="consent-form" role="form" data-instance-id="" data-form-key="">
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>Client Name</label>
                       <input type="text" class="form-control input-field input-sm" id="consent-client-name" data-property="gp-entity-form-Consent.clientName">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Date of Birth</label>
                       <input type="text" class="form-control input-field input-sm" id="consent-dob" data-property="gp-entity-form-Consent.dob" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Consent For Treatment Services</h4>
                  <p>
I consent to treatment at Growing Potential Services: Therapeutic and Behavioral Solutions, PC for myself or for 
the person for whom I am the parent/legally authorized representative. I understand that GPS services are provided 
by a variety of mental health professionals. (GPS services may also be provided by a "professional-in-training". 
All professionals-in-training are supervised by a licensed or certified professional.). Psychotherapy and counseling 
may cause thoughts, feelings, behaviors or memories to surface which may be uncomfortable or even painful. I acknowledge 
that no guarantee has been made to me concerning the effect of treatment. My signature below indicates that I have 
reviewed and understand the Consent for Treatment Services and that I consent to treatment.  
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-0" data-property="gp-entity-form-Consent.initials0">
                  </p>
                  <p>
                  I consent to treatment from the following programs (please initial next to the treatment you are here for today):
                  </p>
<p> <b>Theraputic Afterschool Program</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-1" data-property="gp-entity-form-Consent.initials1"> </p>
<p> <b>Extended Day Treatment</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-2" data-property="gp-entity-form-Consent.initials2"> </p>
<p> <b>Individual Therapy</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-3" data-property="gp-entity-form-Consent.initials3"> </p>
<p> <b>Medication Management</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-4" data-property="gp-entity-form-Consent.initials4"> </p>
<p> <b>Testing and Assessment</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-5" data-property="gp-entity-form-Consent.initials5"> </p>
<p> <b>In-Home Behavioral</b> Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-6" data-property="gp-entity-form-Consent.initials6"> </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Client Responsibility</h4>
                  <p>
I understand that I am responsible for ensuring there is transportation for my child to and from appointments. 
I understand that if my child is under the age of 13, I am responsible for staying in the waiting room until 
therapy has concluded. If my child is over the age of 13, I understand that I am responsible for staying in 
the waiting room until my child is called for their appointment. If I choose to leave, I understand I am 
responsible for arriving back to the office at least 15 minutes prior to the end of session. 
                  </p>
                  <p>
I understand that it is my responsibility to carefully read the section in my insurance coverage booklet that 
describes mental health services and to determine exactly what mental health or assessment services my insurance 
policy covers and any limitations involved and if I have questions about the coverage, I understand that I should 
contact my plan administrator.
                  </p>
                  <p>
I understand that it is my responsibility to provide Growing Potential Services: Therapeutic and Behavioral Solutions, 
PC, (GPS) with complete and accurate insurance information.  To best serve me and my health needs, I must always provide 
a current copy of my insurance card to GPS for their files.
                  </p>
                  <p>
I understand that in order for GPS to set realistic treatment goals and priorities, it is important that they have current 
insurance information to evaluate what resources I have available to pay for my treatment.
                  </p>
                  <p>
I understand that GPS will make a best effort to inform me of the anticipated fees involved as soon as this can be reasonably determined. 
                  </p>
                  <p>
I understand that GPS will assist me in filing an insurance claim by filling out forms and submitting claims.  It is 
also important for me to remember that health insurance coverage varies and not all services are covered.  However, 
since plans vary greatly even within a single insurance company, I must understand that GPS can not guarantee my 
coverage and that I am ultimately responsible for payment of services rendered regardless of any verbal communications 
I receive from GPS personnel or my insurance company in efforts to assist you.
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-7" data-property="gp-entity-form-Consent.initials7">
                  </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Payment Guarantee</h4>
                  <p>
In consideration of the services rendered and to be rendered to the above named patient by GPS, I expressly 
understand that I (not my insurance company) am responsible for full payment of GPS fees, co-payments, 
deductibles, non-covered services or services which my insurance carrier may determine to be "not medically 
necessary" or beyond what they determine to be their maximum allowable charges and as such guarantee payment 
of the account and agree to pay any charges left unpaid in whole or in part.  I have received a copy of the 
fee structure for GPS services.  A sliding fee schedule is available upon request and review of financial information.
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-8" data-property="gp-entity-form-Consent.initials8">
                  </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Release of Information and Assignment of Benefits</h4>
                  <p>
I give permission to GPS to release any medical information necessary for the purposes of filing and processing an insurance 
claim on my behalf, to current or future insurance companies. I authorize payment directly to GPS for services I receive.    
                  </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Mandated Reporting</h4>
                  <p>
I understand that all staff of Growing Potential Services are mandated reporters and will follow the Connecticut State Statute 
regarding Mandated Reporting.
                  </p>
                  <p>
Mandated reporters are required to report or cause a report to be made when, in the ordinary course of their employment or 
profession, they have reasonable cause to suspect or believe that a child under the age of 18 has been abused, neglected or 
is placed in imminent risk of serious harm. (Connecticut General Statutes §17a-101a)
                  </p>
                  <p>
Child abuse occurs where a child has had physical injury inflicted upon him or her other than by accidental means, has 
injuries at variance with history given of them, or is in a condition resulting in maltreatment, such as, but not limited to, 
malnutrition, sexual molestation or exploitation, deprivation of necessities, emotional maltreatment or cruel punishment. 
(Connecticut General Statutes §46b-120)
                  </p>
                  <p>
Child neglect occurs where a child has been abandoned, is being denied proper care and attention physically, emotionally, or 
morally, or is being permitted to live under conditions, circumstances or associations injurious to his well-being. 
(Connecticut General Statutes §46b-120)
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-9" data-property="gp-entity-form-Consent.initials9">
                  </p>
                  <p>
GPS respectfully requests a 24-hour notice of cancellation. If you have an emergency and cannot provide a 24-hour notice, 
please call as soon as possible. 
                  </p>
                  <p>
I understand that if I do not show up for your scheduled therapy appointment have not notified GPS at least 24 hours in advance, 
I may be required to pay the full cost of the session.
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-10" data-property="gp-entity-form-Consent.initials10">
                  </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Cancellation Policy</h4>
                  <p>
                   GPS respectfully request a 24 hour notice of cancellation.  If you have an emergency and cannot provide a 24-hour notice, 
                   please call as soon as possible. 
                  </p>
                  </div>
                </div>
                <br>
               <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Attendence Policy</h4>
                  <p>
                  GPS will evaluate a client's commitment to treatment after 3 absences without notice. 
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-11" data-property="gp-entity-form-Consent.initials11">
                  </p>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                  <h4>Medical And Mental Health Emergencies</h4>
                  <p>
I understand that in the event of a medical emergency, there is a First Aid Kit on the premise and if a situation arises in which 
supplies are needed for myself or my child, I will be provided with the kit. If the situation arises in which additional treatment is 
required, 911 will be called. 
Initial: <input type="text" class="input-field input-sm input-text-50px" id="consent-initials-12" data-property="gp-entity-form-Consent.initials12">
                  </p>
                  </div>
                </div>
                <br>
                
                <div class="col-sm-12">
                  <div class="form-group col-sm-10 col-sm-offset-1">
                    <input type="checkbox" id="consent-signed" name="consent-signed"  class="input-checkbox" data-property="gp-entity-form-Consent.signed" data-field-type="boolean">
                    <b>* Signature check box. By checking this box and typing my name above, I agree that this constitutes my signature on this document.</b>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <br>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>* Client or Person Responsible</label>
                      <input type="text" class="form-control input-field input-sm" id="consent-resp-name" data-property="gp-entity-form-Consent.respName" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>* Date</label>
                      <input type="text" class="form-control input-field input-sm" id="consent-resp-date" data-property="gp-entity-form-Consent.respDate" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>Relationship to Client</label>
                      <input type="text" class="form-control input-field input-sm" id="consent-client-rel" data-property="gp-entity-form-Consent.clientRel" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                      <label>Witness</label>
                      <input type="text" class="form-control input-field input-sm" id="consent-witness" data-property="gp-entity-form-Consent.witness" data-field-type="text">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label>Date</label>
                      <input type="text" class="form-control input-field input-sm" id="consent-witness-date" data-property="gp-entity-form-Consent.witnessDate" data-field-type="date" placeholder="mm/dd/yyyy">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>