<div id="forms-subscreen-${i}" class="container forms-subscreen initially-no-display">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading hidden-xs">Self Rating</div>
      <div class="panel-heading panel-heading-sm visible-xs">Self Rating</div>
      <div class="panel-body">
      <form id="self-rating-form" role="form" data-instance-id="" data-form-key="">
               <div class="row">
                  <div class="col-sm-12">
                     <label>If this questionnaire is completed by an informant, what is your relationship?</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="form-group">
<input type="text" class="form-control input-field input-sm" id="sr-rel" data-property="gp-entity-form-SelfRating.rel">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                     <label>In a typical week, how much time do you spend with the individual (hours per week)?</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
<input type="text" class="form-control input-field input-sm" id="sr-freq" data-property="gp-entity-form-SelfRating.freq">
                    <div class="form-group">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                  <hr>
                    <div class="form-group">
                      <label>
The questions below ask about things that might have bothered you.  For each question, select the number that best describes bow much
(or how often) you have been bothered by each problem by each problem during the PAST TWO (2) WEEKS.                       
<br>
0 - None:  Not at all<br>
1 - Slight:  Rare, less than a day or two<br> 
2 - Mild:  Several days<br>
3 - Moderate:  More than half the days<br>
4 - Severe:  Nearly every day<br>
                      </label>
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive">
                      <table class="table">
                        <colgroup>
                        <col style="width:5%">
                        <col style="width:63%">
                        <col style="width:25%">
                        <col style="width:7%">
                        </colgroup>
                        <tbody>
                        <tr>
                        <td><label>I.</label></td>
                          <td align="left">
1.  Little interest or pleasure in doing things?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-1" data-property="gp-entity-form-SelfRating.report.1" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-1" data-property="gp-entity-form-SelfRating.report.1" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-1" data-property="gp-entity-form-SelfRating.report.1" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-1" data-property="gp-entity-form-SelfRating.report.1" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-1" data-property="gp-entity-form-SelfRating.report.1" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-1" data-property="gp-entity-form-SelfRating.report.1" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>4</label></td>
                        </tr>
                        <tr>
                          <td> </td>
                          <td align="left">
2.  Feeling down, depressed, or hopeless?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-2" data-property="gp-entity-form-SelfRating.report.2" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-2" data-property="gp-entity-form-SelfRating.report.2" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-2" data-property="gp-entity-form-SelfRating.report.2" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-2" data-property="gp-entity-form-SelfRating.report.2" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-2" data-property="gp-entity-form-SelfRating.report.2" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-2" data-property="gp-entity-form-SelfRating.report.2" data-field-type="radioBtnGroup">
  </div>
</td>
                          <td> </td>
                        </tr>
                        <tr>
                        <td><label>II.</label></td>
                          <td align="left">
3.  Feeling more irritated, grouchy, or angry than usual?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-3" data-property="gp-entity-form-SelfRating.report.3" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-3" data-property="gp-entity-form-SelfRating.report.3" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-3" data-property="gp-entity-form-SelfRating.report.3" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-3" data-property="gp-entity-form-SelfRating.report.3" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-3" data-property="gp-entity-form-SelfRating.report.3" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-3" data-property="gp-entity-form-SelfRating.report.3" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>2</label></td>
                        </tr>
                        <tr>
                        <td><label>III.</label></td>
                          <td align="left">
4.  Sleeping less than usual, but still have a lot of energy?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-4" data-property="gp-entity-form-SelfRating.report.4" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-4" data-property="gp-entity-form-SelfRating.report.4" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-4" data-property="gp-entity-form-SelfRating.report.4" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-4" data-property="gp-entity-form-SelfRating.report.4" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-4" data-property="gp-entity-form-SelfRating.report.4" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-4" data-property="gp-entity-form-SelfRating.report.4" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>3</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
5.  Starting lots more projects than usual and doing more risky things than usual? 
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-5" data-property="gp-entity-form-SelfRating.report.5" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-5" data-property="gp-entity-form-SelfRating.report.5" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-5" data-property="gp-entity-form-SelfRating.report.5" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-5" data-property="gp-entity-form-SelfRating.report.5" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-5" data-property="gp-entity-form-SelfRating.report.5" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-5" data-property="gp-entity-form-SelfRating.report.5" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>IV.</label></td>
                          <td align="left">
6.  Feeling nervous, anxious, frightened, worried, or on edge?  
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-6" data-property="gp-entity-form-SelfRating.report.6" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-6" data-property="gp-entity-form-SelfRating.report.6" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-6" data-property="gp-entity-form-SelfRating.report.6" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-6" data-property="gp-entity-form-SelfRating.report.6" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-6" data-property="gp-entity-form-SelfRating.report.6" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-6" data-property="gp-entity-form-SelfRating.report.6" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>0</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
7.  Feeling panic or feeling frightened?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-7" data-property="gp-entity-form-SelfRating.report.7" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-7" data-property="gp-entity-form-SelfRating.report.7" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-7" data-property="gp-entity-form-SelfRating.report.7" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-7" data-property="gp-entity-form-SelfRating.report.7" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-7" data-property="gp-entity-form-SelfRating.report.7" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-7" data-property="gp-entity-form-SelfRating.report.7" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
8.  Avoiding situations that make you anzious?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-8" data-property="gp-entity-form-SelfRating.report.8" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-8" data-property="gp-entity-form-SelfRating.report.8" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-8" data-property="gp-entity-form-SelfRating.report.8" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-8" data-property="gp-entity-form-SelfRating.report.8" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-8" data-property="gp-entity-form-SelfRating.report.8" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-8" data-property="gp-entity-form-SelfRating.report.8" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>V.</label></td>
                          <td align="left">
9.  Unexplained aches and pains (e.g., head, back, joints, abdomen, legs)?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-9" data-property="gp-entity-form-SelfRating.report.9" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-9" data-property="gp-entity-form-SelfRating.report.9" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-9" data-property="gp-entity-form-SelfRating.report.9" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-9" data-property="gp-entity-form-SelfRating.report.9" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-9" data-property="gp-entity-form-SelfRating.report.9" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-9" data-property="gp-entity-form-SelfRating.report.9" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>9</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
10.  Feeling that your illnesses are not being taken seriously enough?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-10" data-property="gp-entity-form-SelfRating.report.10" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-10" data-property="gp-entity-form-SelfRating.report.10" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-10" data-property="gp-entity-form-SelfRating.report.10" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-10" data-property="gp-entity-form-SelfRating.report.10" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-10" data-property="gp-entity-form-SelfRating.report.10" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-10" data-property="gp-entity-form-SelfRating.report.10" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>VI.</label></td>
                          <td align="left">
11.  Thoughts of actually hurting yourself?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-11" data-property="gp-entity-form-SelfRating.report.11" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-11" data-property="gp-entity-form-SelfRating.report.11" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-11" data-property="gp-entity-form-SelfRating.report.11" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-11" data-property="gp-entity-form-SelfRating.report.11" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-11" data-property="gp-entity-form-SelfRating.report.11" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-11" data-property="gp-entity-form-SelfRating.report.11" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>3</label></td>
                        </tr>
                        <tr>
                        <td><label>VII.</label></td>
                          <td align="left">
12.  Hearing things other people couldn't hear, such as voices even when no one was around?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-12" data-property="gp-entity-form-SelfRating.report.12" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-12" data-property="gp-entity-form-SelfRating.report.12" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-12" data-property="gp-entity-form-SelfRating.report.12" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-12" data-property="gp-entity-form-SelfRating.report.12" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-12" data-property="gp-entity-form-SelfRating.report.12" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-12" data-property="gp-entity-form-SelfRating.report.12" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>3</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
13.  Feeling tat someone could hear your thoughts, or that you could hear what another person was thinking?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-13" data-property="gp-entity-form-SelfRating.report.13" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-13" data-property="gp-entity-form-SelfRating.report.13" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-13" data-property="gp-entity-form-SelfRating.report.13" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-13" data-property="gp-entity-form-SelfRating.report.13" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-13" data-property="gp-entity-form-SelfRating.report.13" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-13" data-property="gp-entity-form-SelfRating.report.13" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>VIII.</label></td>
                          <td align="left">
14.  Problems with sleep that affected your sleep quaility overall?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-14" data-property="gp-entity-form-SelfRating.report.14" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-14" data-property="gp-entity-form-SelfRating.report.14" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-14" data-property="gp-entity-form-SelfRating.report.14" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-14" data-property="gp-entity-form-SelfRating.report.14" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-14" data-property="gp-entity-form-SelfRating.report.14" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-14" data-property="gp-entity-form-SelfRating.report.14" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>2</label></td>
                        </tr>
                        <tr>
                        <td><label>IX.</label></td>
                          <td align="left">
15.  Problems with memory (e.g., learning new information) or with location (e.g., finding your way home)?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-15" data-property="gp-entity-form-SelfRating.report.15" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-15" data-property="gp-entity-form-SelfRating.report.15" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-15" data-property="gp-entity-form-SelfRating.report.15" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-15" data-property="gp-entity-form-SelfRating.report.15" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-15" data-property="gp-entity-form-SelfRating.report.15" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-15" data-property="gp-entity-form-SelfRating.report.15" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>2</label></td>
                        </tr>
                        <tr>
                        <td><label>X.</label></td>
                          <td align="left">
16.  Unpleasant thoughts, urges, or images that repeatedly enter your mind.
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-16" data-property="gp-entity-form-SelfRating.report.16" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-16" data-property="gp-entity-form-SelfRating.report.16" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-16" data-property="gp-entity-form-SelfRating.report.16" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-16" data-property="gp-entity-form-SelfRating.report.16" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-16" data-property="gp-entity-form-SelfRating.report.16" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-16" data-property="gp-entity-form-SelfRating.report.16" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>3</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
17.  Feeling driven to perform certain behaviors or mental acts over and over again?  
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-17" data-property="gp-entity-form-SelfRating.report.17" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-17" data-property="gp-entity-form-SelfRating.report.17" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-17" data-property="gp-entity-form-SelfRating.report.17" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-17" data-property="gp-entity-form-SelfRating.report.17" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-17" data-property="gp-entity-form-SelfRating.report.17" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-17" data-property="gp-entity-form-SelfRating.report.17" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>XI.</label></td>
                          <td align="left">
18.  Feeling detached or distant from yourself, your body, your physical surroundings, or your memories?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-18" data-property="gp-entity-form-SelfRating.report.18" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-18" data-property="gp-entity-form-SelfRating.report.18" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-18" data-property="gp-entity-form-SelfRating.report.18" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-18" data-property="gp-entity-form-SelfRating.report.18" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-18" data-property="gp-entity-form-SelfRating.report.18" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-18" data-property="gp-entity-form-SelfRating.report.18" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>18</label></td>
                        </tr>
                        <tr>
                        <td><label>XII.</label></td>
                          <td align="left">
19.  Not knowing who you really are or wahat you want out of life?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-19" data-property="gp-entity-form-SelfRating.report.19" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-19" data-property="gp-entity-form-SelfRating.report.19" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-19" data-property="gp-entity-form-SelfRating.report.19" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-19" data-property="gp-entity-form-SelfRating.report.19" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-19" data-property="gp-entity-form-SelfRating.report.19" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-19" data-property="gp-entity-form-SelfRating.report.19" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>19</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
20.  Not feeling close to other people or enjoying your relationships with them?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-20" data-property="gp-entity-form-SelfRating.report.20" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-20" data-property="gp-entity-form-SelfRating.report.20" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-20" data-property="gp-entity-form-SelfRating.report.20" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-20" data-property="gp-entity-form-SelfRating.report.20" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-20" data-property="gp-entity-form-SelfRating.report.20" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-20" data-property="gp-entity-form-SelfRating.report.20" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>XIII.</label></td>
                          <td align="left">
21.  Drinking at least 4 drinks of any kind of alcohal on a given day?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-21" data-property="gp-entity-form-SelfRating.report.21" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-21" data-property="gp-entity-form-SelfRating.report.21" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-21" data-property="gp-entity-form-SelfRating.report.21" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-21" data-property="gp-entity-form-SelfRating.report.21" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-21" data-property="gp-entity-form-SelfRating.report.21" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-21" data-property="gp-entity-form-SelfRating.report.21" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label>4</label></td>
                        </tr>
                        <tr>
                        <td><label></label></td>
                          <td align="left">
22.  Smoking any cigarrettes, a cigar, or pipe, or using snuff or chewing tobacco?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-22" data-property="gp-entity-form-SelfRating.report.22" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-22" data-property="gp-entity-form-SelfRating.report.22" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-22" data-property="gp-entity-form-SelfRating.report.22" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-22" data-property="gp-entity-form-SelfRating.report.22" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-22" data-property="gp-entity-form-SelfRating.report.22" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-22" data-property="gp-entity-form-SelfRating.report.22" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                        <tr>
                        <td><label>.</label></td>
                          <td align="left">
23.  Using any of the following medicines ON YOUR OWN, that is, without a doctor's presription, in greater amounts than 
     precribed, [e.g., pain killers (like Vicodin), stimulints (like Ritalin or Adderall), sedatives or tranquilizers
     (like sleeping pill or Valium), or drugs like marijuana, cocaine or crack, club drugs (like ecstacy), hallucinogens
     (like LSD), heroin, inhalants or solvents (like glue), or methamphetamine (like speed)?
                          </td>
<td align="center">
  <div class="input-group">
    <div id="radioBtn" class="btn-group btn-group-justified radio-btn-group">
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-23" data-property="gp-entity-form-SelfRating.report.23" data-title="0">0</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-23" data-property="gp-entity-form-SelfRating.report.23" data-title="1">1</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-23" data-property="gp-entity-form-SelfRating.report.23" data-title="2">2</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-23" data-property="gp-entity-form-SelfRating.report.23" data-title="3">3</a>
      <a class="btn btn-primary btn-sm not-active" data-toggle="report-23" data-property="gp-entity-form-SelfRating.report.23" data-title="4">4</a>
    </div>
    <input type="hidden" id="report-23" data-property="gp-entity-form-SelfRating.report.23" data-field-type="radioBtnGroup">
  </div>
</td>
                        <td align="center"><label></label></td>
                        </tr>
                      </tbody>
                    </table>
                   </div>
                 </div>
               </div>
      </form>
      </div>
    </div>
  </div>
</div> 