<div class="container" id="${templateFormScreen}">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">${formTitle}</div>
      <div class="panel-body">
        <div class="row"><div class="col-sm-12"><h3>${formTitle}</h3></div></div>
            <div class="panel-body">
              <form role="form" id="${templateFormName}" data-instance-id="" data-form-key="">
              </form>
            </div>
            <div class="panel-footer text-right">
              <button id="${templateFormName}-close-record-btn" type="button" class="btn btn-success btn-lg">Complete ${formTitle}</button>
              <span id="${templateFormName}-open-record" class="initially-no-display">
                <span class="inline-h3 padding-right-30px">${formTitle} Closed</span>
                <button id="${templateFormName}-reopen-record-btn" type="button" class="btn btn-primary btn-lg">Reopen ${formTitle}</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
