<div id="forms-subscreen-${i}" class="container forms-subscreen initially-no-display">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading hidden-xs">FormTemplate</div>
      <div class="panel-heading panel-heading-sm visible-xs">FormTemplate</div>
      <div class="panel-body">
      <form id="form-template" role="form" data-instance-id="" data-form-key="">
        <div class="col-sm-12">
        </div>
        </form>
      </div>
    </div>
  </div>
</div> 