@media print {

  .spinner {
    display:none;
  }

  div.item-wrapper {
  	min-height:100px;
  	width:100%;
  }

  div.item-wrapper-basic-info {
    min-height:60px;
  }

  div.item-wrapper-text-area {
    min-height:300px;
    width:100%;
  }

  .date-legend-month {
    position:relative;
    left:110px;	
  }
  .date-legend-day {
    position:relative;
    left:150px;	
  }
  .date-legend-year {
    position:relative;
    left:200px;	
  }

  .item-date-input {
    position:relative;
    left:100px;	
    top:15px;	
    font-size: 36px;
  }

  .item-location-input {
    position:relative;
    left:100px; 
    top:15px; 
    font-size: 36px;
  }

  .item-first-name-input {
    position:relative;
    left:10px; 
    top:15px; 
    font-size: 36px;
  }

  .item-middle-name-input {
    position:relative;
    left:270px; 
    top:15px; 
    font-size: 36px;
  }

  .item-last-name-input {
    position:relative;
    left:370px; 
    top:15px; 
    font-size: 36px;
  }

  .item-age-input {
    position:relative;
    left:10px; 
    top:15px; 
    font-size: 36px;
  }

  .paragraph-input {
    padding:10px;
  }

  .item-mother-name-input {
    position:relative;
    left:10px; 
    top:15px; 
    font-size: 36px;
  }

  .item-date-input-legend {
    position:relative;
    top:15px;	
  }

  .item-label {
    position:relative;
  	left:5px;
  	top:5px;
    font-size: 16px;
    font-weight: bold;
  }

  .page-title-background {
    background-color:black;
    width:100%;
    font-size: 20px;
    height:40px;
    display:table;
    margin-bottom:20px;
  }


  .page-title {
    color:white;
    font-weight:bold;
    text-align:center;
    display:table-cell; 
    vertical-align:middle;
  }

  #form-wrapper {
    width:1000px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: auto ;
    margin-right: auto ;
  }

  .form-table {
    width:100%;
    border-collapse:collapse;
  }

  .form-table th, td {
    border:2px solid black;
  }
 
  .form-wrapper-basic-info th, td {
    padding: 0;
  }
 
  #print-button-div {
  	width:100%;
  	text-align:right;
  }

  #print-button {
  	font-size:18px;
  	height:25px;
  	margin-right:30px;
  }



  #form-wrapper-check-in {
    width:1400px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: auto ;
    margin-right: auto ;
  }

  td.checkbox-container {
     text-align:center; 
  }

  table.check-in-list-table  td {
    padding-left:3px;
    padding-right:3px;
  }

  td.numeric-cell {
    text-align:right; 
  }


  #form-wrapper-basic-info {
    width:1200px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: auto ;
    margin-right: auto ;
  }

  .basic-info-input {
    min-height: 60px;
    font-size: 20px;
    position:relative;
    left:10px; 
    top:15px; 
  }

  .basic-info-input-soap {
    min-height: 200px;
    font-size: 20px;
    position:relative;
    left:10px; 
    top:15px; 
  }

  .form-radio {
    display:table-cell;
    width: 120px;
    padding:3px;   
  }

  .form-checkbox {
    display:table-cell;
    width: 200px;
    padding:3px;   
  }

  label.checkbox-label {
    padding-left:6px;  
  }

  .no-print {
    display: none; 
  }
}