{{each(i, item) list}}
  <div id="diagnosis-${id}" class="diagnosis-list-item">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-btn">
          {{if readonly == false}}
            <button data-id="${id}" data-direction="${INCREASE}" data-priority="${priority}" class="btn btn-default btn-reorder" type="button"> <i class="fa fa-chevron-up fa-med"></i> </button>
            <button data-id="${id}" data-direction="${DECREASE}" data-priority="${priority}" class="btn btn-default btn-reorder" type="button"> <i class="fa fa-chevron-down fa-med"></i> </button>
          {{/if}}
        </div>
        <div class="form-sim">
          <span>${(typeof priority === "undefined") ? i+1 : priority}.  ${diagnosis.name}</span>
        </div>
        <span class="input-group-addon">
          {{if readonly == false}}
            <a href="#" data-id="${id}" class="list-item-delete-top delete-dx-btn"><i class="fa fa-times-circle fa-lg" aria-hidden="true"></i></a>
          {{/if}}
          <input data-id="${id}" id="diagnosis-status-${id}" type="checkbox" class="input-checkbox manual diagnosis-status" value="resolved" 
          {{if status == RESOLVED}} checked="checked"{{/if}} {{if readonly == true}}disabled="disabled"{{/if}} data-property="${instanceName}.status"> resolved
        </span>
      </div>
    </div>
  </div>
{{/each}}