<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default chartheader clearfix">
        <div class="panel-body">
          <div class="row">
            <div class="col-xm-6 col-sm-3">
              <p class="patient-chart-full-name"></p>
              <p class="patient-chart-demographics"><label>Primary Phone:</label> <span class="patient-chart-primary-phone patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>Secondary Phone:</label> <span class="patient-chart-secondary-phone patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>Email:</label> <span class="patient-chart-email patient-chart-demographics"></span></p>
            </div>
            <div class="col-xm-6 col-sm-3 patient-chart-demographics demo-padding">
              <p class="patient-chart-demographics"><label>Address:</label> <span class="patient-chart-address patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>City:</label> <span class="patient-chart-city patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>State:</label> <span class="patient-chart-us-state patient-chart-demographics"></span>
                <label>&nbsp;&nbsp;&nbsp;ZIP:</label> <span class="patient-chart-postal-code patient-chart-demographics"></span>
              </p>
            </div>
            <div class="col-xm-6 col-sm-2 patient-chart-demographics demo-padding">
              <p class="patient-chart-demographics"><label>DOB:</label> <span class="patient-chart-dob patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>MRN:</label> <span class="patient-chart-mrn patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>Gender:</label> <span class="patient-chart-gender patient-chart-demographics"></span></p>
            </div>
            <div class="col-xm-6 col-sm-2 patient-chart-demographics demo-padding">
              <p class="patient-chart-demographics"><label>Next Appt:</label> <span class="patient-chart-next-appt patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>Last Appt:</label> <span class="patient-chart-last-appt patient-chart-demographics"></span></p>
              <p class="patient-chart-demographics"><label>DOB:</label> <span class="patient-chart-dob patient-chart-demographics"></span></p>
            </div>
            <div class="col-xm-6 col-sm-2">
              <img src="assets/images/headshot_placeholder_sm.jpg" class="pull-right img-responsive img-rounded headshot patient-chart-headshot">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>