<table id="${tableName}-table" class="table table-hover table-bordered table-condensed simple-data-table">
  <thead>
  <tr>
    {{each(i, column) columns}} <th class="highlightable">${column.title}</th> {{/each}}
  </tr>
  </thead>
  <tbody>
  {{each(i, item) items}}
    <tr id="${tableName}-${item.id}" class="clickable-table-row" name="${item.id}" data-row-key="${item.id}" data-table-name="${tableName}">
    {{each(j, column) columns}} 
      <td class="highlightable" id="${tableName}-${item.id}-${j}" class="${column.field}" ${column.width ? 'width='+column.width : ''}>
        {{html app_getColumnValue(column, item) }}
      </td>
    {{/each}}
    </tr>
    <tr id="${tableName}-${item.id}-content" class="row-content initially-no-display"><td colspan="${columns.length}"></td></tr>
  {{/each}}
  <tr class="simple-data-table-footer">
    <td class="simple-data-table-footer" colspan='${columns.length}'>
      <p><span>${title} ${items.length == 0 ? '0' : '1'}-<wbr>${items.length}</span></p>
    </td>
  </tr>
  </tbody>
</table>
