<div id="stepwizard-buttons-${i}" class="stepwizard-buttons initially-no-display">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <a href="#" name="${i-1}" class="intake-forms-step-btn intake-forms-step-${i-1}-btn btn btn-default btn-lg hidden-xs"><<< Back</a>
      </div>
      <div class="col-sm-6">
      </div>
      <div class="col-sm-3">
        <a href="#" name="${i+1}" class="intake-forms-step-btn intake-forms-step-${i+1}-btn btn btn-success btn-lg pull-right">Continue >>></a>
      </div>
    </div>
  </div>
</div>