  <div id="intake-forms-placeholder" class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3 class="text-center hidden-xs">Welcome To ${app_practiceClientProperties['app.business_name']}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="col-sm-4 text-center hidden-xs">
                    <p class="business-address"></p>
                  </div>
                  <div class="col-sm-4 text-center">
                    <img class="img-responsive practice-logo" alt="practice-logo">
                    <p>${app_practiceClientProperties['app.practitioner']}<br>
                      Phone: ${app_practiceClientProperties['app.business_phone']}
                    </p>
                  </div>
                  <div class="col-sm-4 text-center hidden-xs">
                  </div>
                </div>
                <br class="br-green">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="row quote-picture">
                      <div class="col-sm-3 col-md-2 hidden-xs">
                        <img id="pi-doctor-profile-image" class="img-responsive" alt="Responsive image">
                      </div>
                      <div class="col-sm-9 col-md-10">
                        <br class="hidden-xs"><br class="hidden-xs hidden-sm">
                        <h4>Welcome to ${app_practiceClientProperties['app.business_name']}<br>
                          <small>
                          Our mission is to assist you with the information and resources you need<br class="hidden-xs hidden-sm"> 
                          to exceed your expectations, to achieve the ultimate... results.
                          </small>
                        </h4>
                      </div>
                    </div>
   
                <br>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1">
                    <div class="well">
                      <h2 class="text-center">No Intake Records On File</h2>
                    </div>
                  </div>
                </div>

          <br><br>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
              <h5>&copy;${app_practiceClientProperties['app.practitioner']}, ${app_practiceClientProperties['app.business_name']}, all rights reserved.</h5>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div> 
  </div> 
  </div> 
  </div> 
  </div> 
  