<div id="user-admin-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1><i class="fa fa-gears"></i> Admin <small class="pull-right"><i class="fa fa-user fa-lg"></i> User Manager</small></h1>
            <div class="panel panel-default">
              <div class="panel-body">
                <div id="user-admin-users-list" class="table-responsive container-scroll"></div>  
                <button id="user-admin-new-user" type="button" class="btn btn-primary pull-right button-pad"><i class="fa fa-user fa-lg"></i><i class="fa fa-plus"></i> Add User</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div> 