<div class="modal fade" id="modal-appt" tabindex="-1" role="dialog" aria-labelledby="modal-appt" aria-hidden="true">
  <div class="modal-dialog narrow-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"> ${title}</h4>
      </div>
    <div class="modal-body">
   <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="app-appt-start" class="col-sm-3 control-label">Start Time</label>
      <div class="col-sm-6 input-group bootstrap-timepicker timepicker">
        <input id="app-appt-start" class="form-control input-small input-timepicker" type="text"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <span id="app-appt-end-validation" class="form-element-error"></span>
      </div>
    </div> 
    <div class="form-group">
      <label for="app-appt-end" class="col-sm-3 control-label">End Time</label>
      <div class="col-sm-6 input-group bootstrap-timepicker timepicker">
        <input id="app-appt-end" class="form-control input-small input-timepicker" type="text"/>
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        <span id="app-appt-end-validation" class="form-element-error"></span>
      </div>
    </div> 
   <div class="form-group">
     <label class="col-sm-3 control-label">* Date</label>
     <div class='col-sm-6 input-group date' id='app-appt-date'>
       <input type='text' class="form-control" />
       <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
     </div>
     <div class="help-block with-errors"></div>
   </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">* Clinician</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="app-appt-clinician">
      </div>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">* ${app_practiceClientProperties['app.patient_label']}</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="app-appt-patient">
      </div>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"> Appt Type</label>
      <div class="col-sm-6">
        <select class="form-control input-sm" id="app-appt-type"></select>
      </div>
      <div class="help-block with-errors"></div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label"> Description</label>
      <div class="col-sm-6"><textarea id="app-appt-desc" class="form-control" rows="5"></textarea></div>
      <div class="help-block with-errors"></div>
    </div>
    </form>
    </div>
  <div class="modal-footer">
    {{if deleteButton != null}}
      <button id="app-appt-delete" type="button" class="btn btn-danger">${deleteButton}</button>
    {{/if}}
    <button type="button" id="app-appt-submit" class="btn btn-primary">${submitButtonLabel}</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>       
  </div>
 </div>
 </div>
</div>