<div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="modal-confirm" aria-hidden="true">
  <div class="modal-dialog narrow-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">${modalTitle}</h4>
      </div>
      <div class="modal-body">
        <h3>${modalH3}</h3>
        {{if modalH4 != null}} <h4>${modalH4}</h4> {{/if}}
        {{if modalBodyText}} <p>{{html modalBodyText}}</p> {{/if}}
      </div>
      <div class="modal-footer">
      {{if cancelButton != null}}
        <button id="app-modal-cancel-btn" type="button" class="btn btn-default" data-dismiss="modal">${cancelButton}</button>
      {{/if}}
      {{if okButton != null}}
        <button id="app-modal-confirmation-btn" type="button" data-dismiss="modal" class="btn btn-primary">${okButton}</button>
      {{/if}}
      </div>
    </div>
  </div>
</div>