<div class="modal fade" id="modal-create-password" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modal-create-password" aria-hidden="true">
  <div class="modal-dialog narrow-modal-width">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" id="create-password-close" class="close" aria-hidden="true">&times;</button>
        <h4 class="modal-title">${title}</h4>
      </div>
      <div class="modal-body">
        <h2>${modalH2}</h2> 
        <h4><small>
        Acceptable passwords are at least 6 characters long, have at least one uppercase and one lowercase letter, 
        at least one numeric character and one punctuation character.
        </small></h4>
        <form role="form">
          <div class="form-group">
            <label for="app-new-password">Password</label>
            <input class="form-control" type="password" id="app-new-password">
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <label for="app-new-password-confirm">Confirm Password</label>
            <input class="form-control" type="password" id="app-new-password-confirm">
          </div>
        {{if securityQuestions == true}}
          <hr>
         <h4><small> Security Question (supply at least one of these): </small></h4>
         <div class="form-group">
           <label for="app-new-password-ssn">Social Security (last 4 digits)</label>
           <input class="form-control" type="password" id="app-new-password-ssn">
           <div class="help-block with-errors"></div>
         </div>
         <div class="form-group">
           <label for="app-new-password-drivers-license">Drivers License (last 4 digits)</label>
           <input class="form-control" type="password" id="app-new-password-drivers-license">
           <div class="help-block with-errors"></div>
         </div>
        {{/if}}
        </form>
      </div>
      <div class="modal-footer">
        <button id="app-create-password-submit" type="button" class="btn btn-primary">Submit</button>
      </div>
      <div id="app-create-password-notification"></div>
    </div>
  </div>
</div>